$main-bg: #111;
$gray: #1111119E;
$light-gray:  #FFFFFF33;
$main-btn: #2C70DA;

$medium-gray: #FFFFFF0C;

$black: #000;

$text-gray: #FFFFFFB2;
$text-white: #fff;
$placeholder: #8D8D90;


$orange: #ff7f50;
$green: #2e8b57;
$gold: #ffd700;
$blue: #4682b4;
$red: #ff6347;
$brown: #8b4513;
