$h1: 32px;
$h2: 28px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 16px;


h1 {
  font-size: $h1;
  line-height: 32px;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
  line-height: 30px
}

h6 {
  font-size: $h6;
}

strong {
  font-family: Poppins-Bold, sans-serif;
}
